@charset "UTF-8";

body {
  background-color: #fff;
}

.form > div {
  /* padding: 20px 15px; */
}

.form section {
  padding: 20px 15px;
  background-color: #f3f3f3;
}

.form section + section {
  margin-top: 4px;
}

.form h3 {
  margin-top: 0;
  margin-bottom: 0;
/*  font-size: 16px;
  line-height: 20px;*/
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #666;
}

.form .explain {
  margin-top: 5px;
  font-size: 13px;
  line-height: 16px;
  color: #999;
  word-break: keep-all;
  word-wrap: break-word;
}

.form .explain.center {
  text-align: center;
}

.form .explain.small {
  font-size: 11px;
  line-height: 14px;
}

.form h3 + .explain {
  /*margin-top: 10px;*/
}

.form .explain.small.small {
  margin-top: 5px;
}

.select_item1 {
  margin-top: 30px;
  text-align: center;
}

.select_item1 a {
  display: inline-block;
  width: 90px;
  color: #666;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}

.select_item1 a:before {
  display: block;
  width: 54px;
  height: 54px;
  border-width: 3px;
  border-style: solid;
  margin: 0 auto 10px;
  border-radius: 50%;
  background-color: #f3f3f3;
  content: '';
}

.select_item1 a:active {
  color: #ef484e;
}

.select_item1 a:active:before {
  border-color: #000;
  background-color: #ef484e;
}

.select_item2 {
  padding: 20px 0;
  text-align: center;
}

.select_item2 a {
  display: inline-block;
  padding: 3px 10px 3px 3px;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  color: #666;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}

.select_item2 a + a {
  margin-left: 15px;
}

.select_item2 a:before {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-width: 2px;
  border-style: solid;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #fff;
  vertical-align: top;
  content: '';
}

.select_item2 a.selected {
  border-color: #000;
  background-color: #ef484e;
  color: #fff;
}

.select_item2 a.selected:before {
  border-color: #000;
  background-color: #fff;
}

.grid {
  overflow: hidden;
  margin-left: -4px;
  margin-right: -4px;
}

.grid > span {
  float: left;
  padding: 4px;
  box-sizing: border-box;
}

.grid .grid1 {
  width: 100%;
}

.grid .grid3 {
  width: 33.3333%;
}

.grid .grid4 {
  width: 25%;
}

.grid label {
  margin-right: 0;
}

.select,
.input,
.textarea,
.textarea + .clone {
  width: 100%;
  padding: 9px 10px;
  border: 2px solid #999;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  line-height: 18px;
  color: #666;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.underline {
  /* border: 1px solid;
  border-color: rgba(0,0,0,0) rgba(0,0,0,0) #aaa; */
}

.select {
  padding-right: 30px;
  background-image: url(../img/select_arrow.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: 30px 30px;
}

.input.search {
  padding-left: 30px;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 30px 30px;
}

.input.search::-webkit-search-cancel-button {
  position: relative;
  width: 32px;
  height: 22px;
  border-radius: 10px;
  background-image: url(../img/search_x.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px 20px;
  -webkit-appearance: none;
}

.textarea:empty {
  height: 58px;
}

/* .select:focus,
.input:focus,
.textarea:focus,
.textarea + .clone, */
.comment_form .textarea {
  border: 1px solid;
  border-color: #bfbfbf #f3f3f3 #f3f3f3 #bfbfbf;
  border-radius: 3px;
}

.textarea:focus {
  height: 58px;
}

.textarea {
  display: block;
  overflow-y: scroll;
  min-height: 36px;
  resize: none;
}

.textarea + .clone {
  overflow-y: scroll;
  position: absolute;
  z-index: -10;
  left: 15px;
  right: 15px;
  width: auto;
  height: auto;
  word-wrap: break-word;
  opacity: 0;
}

.button {
  display: block;
  padding: 10px 0;
  border: 1px solid #ef5359;
  border-radius: 2px;
  background-color: #ef5359;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:active {
  border-color: #a73a3e;
  background-color: #a73a3e;
}

.button.temp {
  display: block;
  padding: 10px 0;
  border: 1px solid #ef5359;
  border-radius: 2px;
  background-color: #fff;
  font-size: 16px;
  line-height: 20px;
  color: #ef5359;
  text-align: center;
  text-decoration: none;
}

.button.temp:active {
  border-color: #ef5359;
  background-color: #fff;
  color: #ef5359;
}

.button.cancel {
  border-color: #ccc;
  background-color: #ccc;
  color: #666;
}

.button.cancel:active {
  border-color: #999;
  background-color: #999;
  color: #666;
}

.comment_form .textarea {
  padding: 0;
  font-size: 14px;
  line-height: 18px;
}

.comment .button {
  margin-top: 3px;
  padding: 5px 0;
  font-size: 14px;
  line-height: 18px;
}

.radio,
.checkbox {
  position: absolute;
  opacity: 0;
}

.radio + label,
.checkbox + label {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  /* margin-bottom: 10px; */
  padding: 9px 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ccc;
  font-size: 13px;
  line-height: 18px;
  color: #666;
}

.radio:checked + label,
.checkbox:checked + label {
  border-color: #ef5359;
  background-color: #fff;
  color: #ef5359;
}

.radio + label.block,
.checkbox + label.block {
  display: block;
  margin-right: 0;
}

.radio + label.block.center,
.checkbox + label.block.center {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.radio + label.block.center img,
.checkbox + label.block.center img {
  display: block;
  margin: 0 auto;
}

.radio:checked + label:after,
.checkbox:checked + label:after {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 16px;
  height: 16px;
  border: 2px solid #333;
  border-radius: 10px;
  background-color: #ef5359;
  background-image: url(../img/icon_check.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 16px;
  content: '';
}

.select_item3 {
  padding: 10px 0;
}

.abc_wrap
.select_item3 {
  word-spacing: -4px;
}

.select_item3 a {
  display: inline-block;
  text-decoration: none;
}

.select_item3 span {
  display: block;
  min-width: 12px;
  padding: 1px 4px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #999;
}

.select_item3 a.selected {
  border-radius: 2px;
  background-color: #ef484e;
}

.select_item3 a.selected span {
  color: #fff;
}

.form h4 {
  margin: 0;
  padding: 4px 10px;
  background-color: #f3f3f3;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #999;
}

.group_list {
  margin: 0;
}

.group_list .item {
}

.group_list .item + .item {
  border-top: 1px solid #f3f3f3;
}

.group_list .item a {
  display: block;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
}

.group_list .item a:hover {
  background-color: #ef5359;
  color: #fff;
}

.group_list .item .highlight {
  color: #ef5359;
}

.group_list .item a:hover .highlight {
  color: #fff;
}

.table {
  display: table;
  width: 100%;
}

.table.fixed {
  table-layout: fixed;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

.td.at {
  width: 20px;
  font-size: 18px;
  line-height: 22px;
  color: #666;
  text-align: center;
}

.table.spacing {
}

.table.spacing .td {
  padding-left: 5px;
  padding-right: 5px;
}

.table.spacing .td:nth-child(1) {
  padding-left: 0;
}

.table.spacing .td:nth-last-child(1) {
  padding-right: 0;
}

.td p {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
  color: #999;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  -webkit-filter: grayscale(1);
}

.hr {
  height: 1px;
  background-color: #ddd;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
  margin-left: auto;
}

.switch input {
  display: none;
}

.switch label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: #ddd;
  box-shadow: inset 1px 1px 0 0 rgba(0,0,0,0.1);
}

.switch label,
.switch label span {
  transition-duration: 0.2s;
}

.switch label:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 34px;
  font-size: 11px;
  line-height: 34px;
  color: #fff;
  text-align: center;
  content: 'ON';
  text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}

.switch label:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 34px;
  font-size: 10px;
  line-height: 34px;
  color: rgba(0,0,0,0.2);
  text-align: center;
  content: 'OFF';
  text-shadow: 1px 1px 0 rgba(255,255,255,1);
}

.switch label span {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  width: 28px;
  height: 28px;
  margin: 3px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 0 0 rgba(0,0,0,0.1);
}

.switch input:checked + label {
  background-color: #ef5359;
}

.switch input:checked + label span {
  transform: translateX(26px);
}

.profile_border {
  overflow: hidden;
  position: relative;
  width: 69px;
  height: 69px;
  margin: 0 auto;
  padding: 7px;
  background-image: url(../img/profile_border.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.profile_camera {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 26px;
  height: 26px;
  background-image: url(../img/profile_camera.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 26px 26px;
}

.profile_thumb {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.profile_border input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  font-size: 100rem;
  opacity: 0;
}

.message {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 70px;
  width: 50%;
  min-width: 240px;
  max-width: 400px;
  margin: auto;
  padding: 10px;
  border-radius: 3px;
  background-color: rgba(0,0,0,0.7);
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-align: center;
}

.attach_file {
  overflow-x: auto;
  margin: 0 -15px;
  padding: 10px 15px 5px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.attach_delete {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  right: -5px;
  top: -5px;
  width: 16px;
  height: 16px;
  border: 2px solid #111;
  border-radius: 10px;
  background-color: #ef5359;
  background-image: url(../img/icon_x.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 16px 16px;
   color: rgba(0, 0, 0, 0);
}

.attach_up {
  /* overflow: hidden;
  position: absolute;
  z-index: 2;
  right: 3px;
  bottom: 25px;
  width: 21px;
  height: 21px;
  background-image: url(../img/attach_up.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 21px 21px;
  color: rgba(0, 0, 0, 0); */
}

.attach_down {
  /* overflow: hidden;
  position: absolute;
  z-index: 2;
  right: 3px;
  bottom: 3px;
  width: 21px;
  height: 21px;
  background-image: url(../img/attach_down.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 21px 21px;
  color: rgba(0, 0, 0, 0); */
}

.goods_thumb_area {
  display: inline-block;
  /* overflow: hidden; */
  position: relative;
  width: 160px;
  vertical-align: top;
}

.goods_thumb_area + .goods_thumb_area {
  margin-left: 5px;
}

.form .goods_thumb {
  position: relative;
  z-index: 1;
  padding-top: 56.25%;
  border-radius: 5px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
}

.goods_thumb_area:nth-last-child(1) .goods_thumb {
  /* position: relative;
  z-index: 1;
  padding-top: 15%;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; */
}

.form .goods_thumb:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid #999;
  border-radius: 4px;
  content: '';
}

.form .goods_thumb:not([style]) + .attach_delete {
    display: none;
}

.set_profile_thumb {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 40px;
  line-height: 50px;
  text-align: center;
  color: #666;
  z-index: 2;
}

.set_profile_thumb:before {
  position: absolute;
  left: 0;
  right: 0;
  /* top: 0; */
  bottom: 38px;
  width: 32px;
  height: 32px;
  margin: auto;
  border: 2px solid #999;
  border-radius: 50%;
  background: url(../img/icon_attachfile.png) no-repeat 50% 50%;
  background-size: 20px 20px;
  content: '';
}

.goods_thumb[style] .set_profile_thumb {
  display: none;
}

.goods_thumb_area input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  border-radius: 50%;
  font-size: 100rem;
  opacity: 0;
}
